<amp-user-notification
  layout="nodisplay"
  id="user-consent">
  This site uses cookies,
  <a href="/privacy">learn more.</a>
  <button on="tap:user-consent.dismiss">I accept</button>
</amp-user-notification>

<amp-analytics config="https://fathom.munte.me/analytics.json?previousId=CLIENT_ID(fathom-id,,_fathom)" data-consent-notification-id="user-consent">
  <script type="application/json">
    {
      "vars": {
        "siteId": "UFKDS",
        "pageViewId": "PAGE_VIEW_ID_64"
      },
      "requests": {
        "pageview": "https://fathom.munte.me/collect?p=${canonicalPath}&h=https%3A%2F%2F${canonicalHostname}&r=&u=${isUnique}&nv=${isNewVisitor}&ns=${isNewSession}&id=${pageViewId}&sid=${siteId}&pid=${previousId}"
      },
      "triggers": {
        "trackPageview": {
          "on": "visible",
          "request": "pageview"
        }
      },
      "transport": {
        "beacon": false,
        "xhrpost": false,
        "image": true
      },
      "cookies": {
        "_fathom": {
          "value": "PAGE_VIEW_ID_64"
        }
      }
    }
  </script>
</amp-analytics>
